@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import "tailwindcss";

:root {
--background: #ffffff;
--foreground: #171717;
}

@theme inline {
--color-background: var(--background);
--color-foreground: var(--foreground);
--font-sans: var(--font-geist-sans);
--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
:root {
--background: #ffffff;
--foreground: #040202;
}
}

body {
background: var(--background);
color: var(--foreground);
font-family: 'Comfortaa', cursive, sans-serif;
}

main {
margin-top: 13rem;
margin-left: 7rem;
margin-right: 7rem;
}

/* Reguły do usunięcia niebieskiego tła z autouzupełniania */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-box-shadow: 0 0 0 1000px white inset !important;
-webkit-text-fill-color: #000 !important;
transition: background-color 5000s ease-in-out 0s;
}

body.modal-open {
  pointer-events: none;
  touch-action: none;
}