/* styles/Home.module.css */

/* ------------------ 1. Lista aktualnośći ------------------*/

.current_offers {
  margin-left: -7rem;

}

.current_offers .logo {
  position: relative;
  width: 109%;
  height: 550px;
  overflow: hidden;
}

.current_offers .logo img {
  object-fit: fill;
}

.logo {
  margin-top: -3.9rem;
}

.buttonsOverlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px; 
  z-index: 10;
}

.overlayTitle {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Style dla samych przycisków */
.overlayButton {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.overlayButton:hover {
  background-color: #f0f0f0;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Domyślnie obraz jest niewidoczny */
  transition: opacity 0.5s ease-in-out; /* Płynne przejście */
}

.carouselImage.active {
  opacity: 1; /* Aktywny obraz jest w pełni widoczny */
}

/* Nowe style dla strzałek karuzeli */
.carouselArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5; /* Strzałki są na wierzchu obrazu, ale pod przyciskami centralnymi */
  border: none;
  color: #333;
  padding: 10px 15px;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carouselArrow.left {
  left: 20px;
}

.carouselArrow.right {
  right: 20px;
}

.carouselArrow:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Nowe style dla paginacji */
.carouselPagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 15; /* Upewnij się, że paginacja jest na wierzchu */
}

.paginationDot {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 2px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.paginationDot.dotActive {
  background-color: #afafaf;
  transform: scale(1.2);
}

/* ------------------ 2. Poznaj nasze produkty ------------------ */

.productItem {
  position: relative; /* Kluczowe do pozycjonowania nakładki */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.productItem:hover .overlay {
  opacity: 1;
}

.offers {
  text-align: center;
}

/* Styl dla nagłówka sekcji "Offers" */
.offers h1 {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Nakładka pojawiająca się po najechaniu na produkt */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Pokazanie nakładki po najechaniu na .productItem */
.productItem:hover .productOverlayButtons {
  opacity: 1;
}

/* Style dla tekstu i przycisku w nakładce */
.overlay h2 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Styl dla przycisku w nakładce */
.overlay .ovButton {
  background-color: #ffffff;
  color: #333;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Zmiana koloru przycisku po najechaniu */
.overlay .ovButton:hover {
  background-color: #c2c2c2;
}


/* ------------------ 3. Nowa kolekcja ------------------ */

/* Kontener sekcji "New Collection" */
.new_collection {
  text-align: center;
}

/* Styl dla nagłówka sekcji "New Collection" */
.new_collection h1 {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Link otaczający cały produkt, by był klikalny */
.productLink {
  display: block;
}

/* Kontener galerii produktów */
.productGallery {
  display: flex;
  justify-content: space-around; /* Rozkłada obrazy równomiernie */
  align-items: center; /* Wyśrodkowuje w pionie */
  gap: 20px; /* Dodaje odstęp między obrazami */
  flex-wrap: wrap; /* Zapewnia, że obrazy przejdą do nowej linii na małych ekranach */
  padding: 20px 0;
}

/* Style dla obrazu w galerii, by zawsze wypełniał kontener */
.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sekcja z informacjami o produkcie */
.productInfo {
  padding: 10px;
  text-align: left;
}

/* Styl dla nazwy produktu */
.productInfo h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  color: #333;
}

/* Styl dla ceny produktu */
.productInfo p {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

/* Style dla opcji kolorów */
.colorOptions {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

/* Styl dla pojedynczego kółka koloru */
.colorCircle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Nakładka z przyciskiem "Dodaj do koszyka" */
.addToCartOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

/* Style dla przycisku "Add to cart" */
.addToCartButton {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  padding: 10px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  text-decoration: none;
  display: flex;
  background-color: #333;
  color: #fff;
  align-items: center;
  justify-content: center;
}

/* Zmiana koloru przycisku "Add to cart" po najechaniu */
.addToCartButton:hover {
  background-color: #555;
}

/* Kartki w sekcji "New Offers" */
.fullProductCard {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 40px;
}

/* Efekt powiększenia przy najechaniu dla kartki "New offers" */
.fullProductCard:hover {
  transform: scale(1.05);
}

/* Styl dla przycisku "Like Product" (gwiazdka) */
.likedProductButton {
  position: absolute;
  top: 10px;        
  right: 10px;       
  z-index: 20;       
  background: none;  
  border: none;      
  cursor: pointer;   
  font-size: 1.2rem;
  padding: 0;   
  transition: transform 0.2s ease, opacity 0.3s ease-in-out;
  color: #a0a0a0;
}

/* Efekt hover dla gwiazdki po najechaniu myszką */
.likedProductButton:hover {
  transform: scale(1.2);  
}

/* Styl dla białego kółka (container dla gwiazdki) */
.likedIconCircle {
  width: 30px; /* Rozmiar kółka */
  height: 30px;
  background-color: #fff; /* Białe tło kółka */
  border-radius: 50%; /* Tworzy idealne koło */
  display: flex;
  justify-content: center; /* Wyśrodkowanie ikonki w pionie i poziomie */
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

/* Styl dla gwiazdki wewnątrz kółka */
.likedIconCircle svg {
  font-size: 1rem;
  color: #a0a0a0;
}

/* Styl dla gwiazdki wewnątrz kółka, kiedy jest polubienie */
.likedIconCircle .likedStar {
  fill: url(#star-gradient);
}